<H1>Sign Up Form</H1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="*****" name="password">
    <button>Submit</button>
</form>