<H1>Sign Up Form</H1>

<form action="/register" method="POST">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="*****" name="password">
    <button>Submit</button>
</form>

<ul>
    <li><a href="/register" >Register/SignUp</a></li>
    <li><a href="/login" >Login/SignIn</a></li>
    <li><a href="/logout" >LogOut/SignOut</a></li>
</ul>