<h1>Secret Page</h1>
<p>you found me!!!</p>

<ul>
    <li><a href="/register" >Register/SignUp</a></li>
    <li><a href="/login" >Login/SignIn</a></li>
    <li><a href="/logout" >LogOut/SignOut</a></li>
</ul>