<h1>Movie Search App</h1>
<h2>a search app using OMDB api</h2>
<h3>this the home in views directory after npm install --save ejs ofcourse</h3>

<p>Choose your movie theme</p>

<form action="/results" method = "get">
    <input type ="text" placeholder="search movie" name="search"></input>
    <input type = "submit"></input>
</form>