<% include partials/header%>

<h1>Landing page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam sapiente, non? Omnis perferendis dignissimos nesciunt natus similique ducimus, facilis soluta fuga dolorem consectetur modi, ipsa quasi corporis! Ipsum, quis, saepe.</p>



<a href="/campgrounds"> View all campgrounds</a>

<% include partials/footer%>